input[type="range"] {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  margin-top: 25px;
}
.color-change {
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 18px;
  letter-spacing: 0.5px;
  border-radius: 2px;
}
